.root {
  
}

.link {
  background-color: var(--secondary-color);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--text-color);
  border-radius: 8px;
  margin-top: 16px;
  font-size: 14px;
}

.link:hover {
  background-color: var(--ternary-color);
}