.level {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color);
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.level:hover {
  background-color: var(--color);
}